html {
  position: relative;
  min-height: 100%; 
  margin: 0;
}
  
body {
  font: 18px/1.5 "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444444;
}

p {
  margin: 0;
}

nav {
  margin: 40px 0 0 0;
  position: fixed;
  display: block;
  z-index: 9999
}

main {
  padding: 0;
  margin: 0 auto;
  height: 100%;
  max-width: 960px;
}

#logo {
  display: inline-block;
  width: 300px;
}

#navigation {
  margin: 0 0 0 289px;
  display: inline-block;
}


#content {
  padding-top: 150px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  margin-left: 40px;
  font-family: "futura-pt", Arial, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
}

nav a.selected{
  border-bottom: solid 2px #000000;
  color: #000000;
}

.door img {
  max-width: 308px;
  height: auto;
  display: inline-block;
  position: absolute;
  margin-top: 70px; 
}

.parabeaute img {
  max-width: 430px;
  height: auto;
  display: inline-block;
  position: absolute;
  margin-left: 530px;
}

.m1 img {
  max-width: 196px;
  height: auto;
  display: inline-block;
  position: absolute;
  margin-left: 348px;
  margin-top: 365px; 
}

.pingpong img {
  max-width: 338px;
  height: auto;
  display: inline-block;
  position: absolute; 
  margin-top: 395px; 
  margin-left: 590px;
}

.apero img {
  max-width: 322px;
  height: auto;
  display: inline-block;
  position: absolute;
  margin-left: 638px;
  margin-top: 659px;
}

.kenzo img {
  max-width: 313px;
  height: auto;
  display: inline-block;
  position: absolute;
  margin-top: 810px;
  margin-left: 350px;
}

.merci img {
  max-width: 240px;
  height: auto;
  display: inline-block;
  position: absolute;
  margin-top: 525px;
  margin-left: 37px;
}

.esdc img {
  max-width: 390px;
  height: auto;
  display: inline-block;
  position: absolute;
  margin-top: 875px;
  margin-left: 0px;
}

/* Type */
h1 {
  color: #000000;
  font-weight: 400;
  font-family: "futura-pt", Arial, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 0;
  z-index: 4;
  margin-left: -2px;
  }
