// Partials
@import "reset";
@import "navigation";


#content {
  padding-top: 180px;
}

.about {
  display: inline-block;
  width: 450px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin: 30px 0 0 0;

  h2 {
    margin: 0 0 6px 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "aktiv-grotesk", "Helvetica Neue", Arial, sans-serif;
    color: #B3B3B3;
  }

  a {
    border-bottom: 2px solid #F3F0D8;
    text-decoration: none;
    color: #222222;
  } 
}

#intro{
  margin-bottom: 100px;
}


p.intro {
    font-family: "aktiv-grotesk", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    line-height: 1.5em;

    a {
    text-decoration: none;
    border-bottom: none;
    color: #5D8ABA;
    } 
}

.me {
  float: left;
}

img {
  max-width: 400px;
}
